[project]
	description = Provides your cookbooks with the Artifact Deploy LWRP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mohit Sethi (mohitsethi)
[access "refs/for/refs/*"]
	read = group user/Mohit Sethi (mohitsethi)
	push = group user/Mohit Sethi (mohitsethi)
	label-Code-Review = -2..+2 group user/Mohit Sethi (mohitsethi)
	label-Verified = -1..+1 group user/Mohit Sethi (mohitsethi)
	rebase = group user/Mohit Sethi (mohitsethi)
	removeReviewer = group user/Mohit Sethi (mohitsethi)
	submit = group user/Mohit Sethi (mohitsethi)
[access "refs/heads/*"]
	read = group user/Mohit Sethi (mohitsethi)
	create = group user/Mohit Sethi (mohitsethi)
	push = +force group user/Mohit Sethi (mohitsethi)
	pushMerge = group user/Mohit Sethi (mohitsethi)
[access "refs/tags/*"]
	push = +force group user/Mohit Sethi (mohitsethi)
	pushTag = group user/Mohit Sethi (mohitsethi)
	pushSignedTag = group user/Mohit Sethi (mohitsethi)
